<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/updateteacher.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <title>Document</title>
</head>

<body>
  <div class="layout">
    <div class="header">
      <label for="check" class="checkbtn">
        <i class="fa fa-bars"></i>
      </label>
      <a href="/logout"><span class="logout">&times;</span></a>
      </form>


    </div>
    <div class="layout1">
      <div class="menu">
        <ul>
          <li><a href="/account/indexAdmin">Home</a></li>
          <li><a href="/manage/addManager">Create manager</a></li>
        </ul>

      </div>
      <div class="content">
        <form method="post" action="/admin/docreateAccount">
<table border="1">
    <tr>
        <th colspan="3">ACCOUNT INFORMATION</th>
    </tr>
    <tr>
        <td>
          <label for="faculityname">Name</label>
          
        </td>
        <td>
          <input type="text" name="username" pattern="[a-zA-Z\s]+" title="Username shouldn't contain number. e.g. john" required >
        </td>
    </tr>
    <tr>
        <td>
          <label for="topic">Email</label>
          
        </td>
        <td>
          <input type="email" name="email" class="emailinput">
        </td>
    </tr>
    <tr>
        <td>
          <label for="topic">Password</label>
  
        </td>
        <td>
          <input type="password" name="password" title="Password needs to be at least 8 characters without special characters (/,?, Etc)" minlength="8" pattern="[a-zA-Z0-9]+"  required class="pwinput">
        </td>
    </tr>
    <tr>
        <td>
           <label for="topic">Role</label>
                     
          </td>
        <td>
          <select class="Role" name="Role">
                <option value="guest">Guest</option>
                <option value="student">Student</option>
                <option value="coordinator">Marketing Coordinator</option>
                <option value="manager">Marketing Manager</option>
          </select>     
        </td>
    </tr>
    <tr>
        <td>
          <label for="topic">Birthday</label>
          
        </td>
        <td>
          <input type="date" name="birthday" style="width:173px" required class="emailinput">
        </td>
    </tr>
    <tr>
        <td>
          <label for="topic">Phone</label>
        </td>
        <td>
          <input type="text" name="phone" class="emailinput"  pattern="(\+84|0)\d{8,10}" minlength="8" maxlength="10" title="Phone number must not contain letters or any other characters.Phone number must be between 8-10 numbers." required>  
        </td>
    </tr>
      <tr>
        <td>
         <label for="topic">Address</label>
        </td>
        <td>
          <input type="text"  name="address" class="emailinput" required>
        </td>
    </tr>
</table>
<button type="submit" class="btn">Sign up account</button>
      </div>
    </div>

  </div>


  
  
  <div class="footer">
    <p>@University-2021</p>
  </div>

</body>

</html>